<% provide(:title, "Home" ) %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <div class="center jumbotron">
      <h1 class="text-center">4Members</h1>
      <p class="text-center">Hello this is a Members Only App.You have to be registered to find out who is saying what!Welcome and have fun :)</p>
      <div class="text-center">
        <button type="button" class="btn btn-primary">Sign Up Now!</button>
      </div>
    </div>
  </body>
</html>