<% provide(:title, "Home" ) %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <h1>4Members</h1>
    <p>Hello this is a Members Only App.You have to be registered to find out who is saying what!Welcome and have fun :)</p>
  </body>
</html>